***QUESTION 1***

In [ ]:
#Area of Rectangle
l=float(input("enter the length of rectangle:"))          #length can be in decimals so using float
b=float(input("enter the breadth of rectangle:"))        #breadth also can be of float datatype
area=l*b                                                                       #providing the sufficient formula
print("area of the rectangle:",area)                              #displaying output

enter the length of rectangle:15
enter the breadth of rectangle:10
area of the rectangle: 150.0

***QUESTION 2***

In [ ]:
#A BASIC CALCULATOR
#RECEIVING INPUT FROM THE USER
a=float(input("enter the first number:"))
b=float(input("enter the second number:"))
s=a+b                                                           #sum
if a>b:                                                          #difference with condition 1
  d=a-b
else:                                                            #difference with condition 2
  d=b-a
m=a*b                                                        #product
if a>b:                                                          #finding quotient by using if else statementss to specify
  q=a/b                                                             #the condition
else:
  q=b/a
#printing the output
print("sum:",s)
print("difference:",d)
print("product:",m)
print("quotient:",q)

enter the first number:5
enter the second number:15
sum: 20.0
difference: 10.0
product: 75.0
quotient: 3.0

***QUESTION 3***

In [ ]:
#CONVERTING TEMPERATURE FROM ONE UNIT TO ANOTHER
t=float(input("enter temperature:"))                   #getting input
#giving choices
print("1:celcius to fahrenheit")
print("2: fahrenheit to celcius")
ch=int(input("enter your choice:"))                   #asking user's choice
if ch==1:                                                            #if ,elif and else conditions according to user's choice
  t1=((9/5)*t)+32
elif ch==2:
  t1=(t-32)*(5/9)
else:
  print("invalid choice")
#displaying output
print("required temperature:",t1)

enter temperature:68
1:celcius to farenheit
2: farenheit to celcius
enter your choice:2
required temperature: 20.0

***QUESTION 4***

In [ ]:
#FINDING WHETHER THE NUMBER IS +ve,-ve or zero
n=float(input("enter a number:"))                    #asking for an input
if n>0:                                                               #giving condition using if statement
  print(n,"is positive")
elif n<0:                                                          #use of elif statement
  print(n,"is negative")
else:                                                                #else statement
  print(n,"is zero")

enter a number:0.0
0.0 is zero

***QUESTION 5***

In [ ]:
#DETERMINING WHETHER THE GIVEN YEAR IS A LEAP YEAR OR NOT
y=int(input("enter a year:"))                     #input receiver
if y%4==0 and y%100!=0:                         #if condition statements
  print(y,"is a leap year")
elif y%400==0:                                         #elif statement
  print(y,"is a leap year")
else:                                                         #else staement
  print(y,"not a leap year")

enter a year:2020
2020 is a leap year

***QUESTION 6***

In [ ]:
#DISPLAYING GRADE SCALE USING CONDITIONAL STATEMENTS
m=float(input("enter the marks obtained:"))            #seeking input from the user
if m>=90 and m<=100:                                        #giving conditions using if,elif and else statements
  print("A grade")
elif m>=80 and m<=89:                                    #using relational operators
  print("B grade")
elif m>=70 and m<=79:
  print("C grade")
elif m>=60 and m<=69:
  print("D grade")
else:
  print("F grade")

enter the marks obtained:65
D grade

***QUESTION 7***

In [ ]:
#PRINT 10 TO 1
for i in range(10,0,-1):            #USE FOR LOOP
  print(i)                                   #DISPLAY OUTPUT

10
9
8
7
6
5
4
3
2
1

***QUESTION 8***

In [ ]:
#PRINT EVEN NUMBERS FROM 1 TO 20 USING LOOPS
for i in range(2,21,2):                  #use for loop and give step value 2 to print even numbers
  print(i)

2
4
6
8
10
12
14
16
18
20

***QUESTION 9***

In [ ]:
#PRINT THE MULTIPLICATION TABLE
n=int(input("enter a number:"))
for i in range(1,11):
  print(n,"*",i,"=",i*n)

enter a number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50